{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="green-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Create Home</h1>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script>
        var selectEl = document.getElementById('id_style');
        M.FormSelect.init(selectEl);
        var selectEl = document.getElementById('id_size');
        M.FormSelect.init(selectEl);
    </script> 
    
{% endblock %}