{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">{{pet.name}}'s Bio</h3>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        {% for photo in pet.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel green-text center-align">No Photos Uploaded</div>
        {% endfor %}

      </div>
    </div>
    <div class="card">
      <div class="card-content card-content-link">
        <span class="pet-name">Hi, I'm {{pet.name}}!</span>
        <p>Kingdom: {{pet.kingdom}}</p>
        <p>Species: {{pet.species}}</p>
        <p>Species, common: {{pet.common_name}}</p>
        {% if pet.age > 0 %}
        <p>Age: {{pet.age}}</p>
        {% else %}
        <p>Age: Just made it out into the world!</p>
        {% endif %}
        <p>Height: {{pet.height}}</p>
        <p>Weight: {{pet.weight}}</p>
        <div class="card-action">
          <a href="{% url 'pets_update' pet.id %}">Edit Bio</a>
          <a>|</a>
          <a href="{% url 'send_heaven' pet.id %}">Send to Heaven</a>
        </div>
      </div>
    </div>

    {% if pet.photo_set.count %}
    {%else%}
    <div class="card">
      <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn green" value="Upload Photo">
      </form>
    </div>
    {% endif %}



  </div>


  <div class="col s6">
    <table class="striped centered">
      <thead>
        <tr>
          <th>Energy</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for energy in pet.energy_set.all %}
        {% if energy.is_today %}
        <tr>
          <td>{{energy.get_energy_source_display}}</td>
          <td>{{energy.date}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <form action="{% url 'add_energy' pet.id %}" method="post">
      {% csrf_token %}
      {{energy_form.as_table}}
      <input type="submit" class="btn green" value="Energize {{pet.name}}">
    </form>
    <br>
    {% if pet.energized_infull %}
    <div class="card-panel green-text center-align">{{pet.name}} has received enough energy for today</div>
    {% else %}
    <div class="card-panel red-text center-align">{{pet.name}} might be feeling sluggish</div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col s6">
      {% if pet.home_set.count %}
      {% for home in pet.home_set.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <h5>Living Quarters</h5>
            <h6>{{home.get_size_display}} {{home.color}} {{home.get_style_display}}</h6>
          </span>
          {% endfor %}
          {% else %}
          <h4>Housing</h4>
          <p>Help {{pet.name}} find a home</p>
          <form action="{% url 'add_home' pet.id %}" method="post">
            {% csrf_token %}
            {{ home_form.as_table }}
            <input type="submit" value="Get Home" class="btn green">
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var selectEl = document.getElementById('id_style');
  M.FormSelect.init(selectEl);
  var selectEl = document.getElementById('id_size');
  M.FormSelect.init(selectEl);
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_energy_source');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}