{% extends 'base.html' %}
{% block content %}

<h1>{{pet.name}}'s Biography</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="{{pet.url}}" alt="">
      <div class="card-content">
        <span class="card-title">{{pet.name}}</span>
        <p>Kingdom: {{pet.kingdom}}</p>
        <p>Species: {{pet.species}}</p>
        <p>Species, common: {{pet.common_name}}</p>
        {% if pet.age > 0 %}
        <p>Age: {{pet.age}}</p>
        {% else %}
        <p>Age: Just made it out into the world!</p>
        {% endif %}
        <p>Height: {{pet.height}}</p>
        <p>Weight: {{pet.weight}}</p>
        <div class="card-action">
          <a href="{% url 'pets_update' pet.id %}">Edit</a>
          <a href="{% url 'send_heaven' pet.id %}">Send to Heaven</a>
          <a href="{% url 'pets_delete' pet.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col s6">
    <table class="striped centered">
      <thead>
        <tr><th>Energy</th><th>Date</th></tr>
      </thead>
      <tbody>
        {% for energy in pet.energy_set.all %}
        <tr>
          <td>{{energy.get_energy_source_display}}</td>
          <td>{{energy.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{% url 'add_energy' pet.id %}" method="post">
      {% csrf_token %}
      {{energy_form.as_table}}
      <input type="submit" class="btn" value="Energize {{pet.name}}">
    </form>
    <br>
    {% if pet.energized_infull %}
    <div class="card-panel teal-text center-align">{{pet.name}} has received enough energy for today</div>
    {% else %}
    <div class="card-panel red-text center-align">{{pet.name}} might be feeling sluggish</div>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
var selectEl = document.getElementById('id_energy_source');
M.FormSelect.init(selectEl);
</script>
{% endblock %}