{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">Pets Pets in Heaven</h3>
<p>Currently, these pets are all in a better place.</p>
{% for pet in pets %}
{% if pet.heaven == True %}
<div class='card'>
    <a href="{% url 'detail' pet.id %}">
        <div class='card-content black-text'>
            <span class='card-title'>{{ pet.name }}, {{pet.common_name}}</span>
            <p>Kingdom: {{pet.kingdom}}</p>
            {% if pet.age > 0 %}
            <p>Age: {{pet.age}}</p>
            {% else %}
            <p>Age: Just made it out into the world!</p>
            {% endif %}
        </div>
    </a>
</div>
{% endif %}
{% endfor %}

{% endblock %}