{% extends 'base.html' %}
{% block content %}

<h1>Meet the Pets Pets</h1>
<br>
<br>
<br>
<br>

<div class="row">
{% for pet in pets %}
{% if pet.heaven == False %}
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img
                    src="{{pet.url}}">
                <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);"></span>
            </div>
            <a href="{% url 'detail' pet.id %}">
            <div class="card-content black-text">
                <p>{{pet.name}}, {{pet.common_name}}</p>
                <p>{{pet.intro}}</p>
            </div>
        </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}