{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">Time to let {{pet.name}} go to Heaven?</h3>
<h4>Are you sure you want to send <span class="green-text">{{pet.name}}</span> to <span class="green-text">heaven</span>?</h4>


<form action="{% url 'heaven_true' pet.id %}" method="post">
    {% csrf_token %}
    {{heaven_form.as_p}}
    <a href="{% url 'detail' pet.id %}" class="btn-large green">{{object.name}} needs more time on Earth</a>
        <input type="submit" class="btn-large green" value="Send {{pet.name}} to Heaven">
      </form>

{% endblock %}