{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets Pets Adopter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper green">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Pets Pets Adopter</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    
                    <li><a href="{% url 'pets_create' %}">Add a Pet</a></li>
                    <li><a href="{% url 'index' %}">Visit Pets</a></li>
                    <li><a href="{% url 'heaven' %}">Pets in Heaven</a></li>

               
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
  	 <footer class="page-footer green">
       <div class="right">All Rights Reserved, &copy; 2019 Pets Pets Adopter &nbsp;</div>
    </footer>
</body>
</html>