{% extends 'base.html' %}
{% block content %}

<h3 class="center-align">Pets Pets Adopter</h3>
<div class="home-img">
    <img class="home-img" src="../static/images/smiling_crop.JPG" alt="Smile with dogs">
</div>
<p class="home-img">In this modern world, homo sapiens sapiens have been blessed with many comforts and advancements but have also been
    cursed through these same technologies.
    We have closed and locked more windows and doors to protect ourselves and are oblivious to the lives of neighbors regardless of exchanged pleasantries.
    The ability to get movies, toiletries, shoes, medicine, and even meals delivered at the convenience of a button have
    left many lacking the most basic social exchanges, stunting the social growth and sense of responsibility for many
    people.
    Pets Pets Adopter is a community of people looking to find happiness through communication with pets of their
    choosing and through the adaptation of becoming pets themselves. All pets need some type of regular TLC and by adopting one pet or several, Pets Pets Adopter hopes to
    provide a warm environment for everyone who wants to join a community.
    Pets are not limited to traditional dogs, cats, sheep or hamsters but can be anything residing under the sun on this
    Earth. Find Pets to adopt today or become one today!
</p>


{% endblock %}