{% extends 'base.html' %}

{% block content %}

<h3>Find a pet!</h3>
<div>
  <form class="search-bar" method="get">
    {{ filter.form.as_table }}
    <button class="btn green" type="submit">Find Pet</button>
  </form>
</div>


<ul>
  <div class="row">
      {% for pet in filter.qs %}
    <div class="col s6">
      <div class="card horizontal">
          <img src="{{pet.url}}" alt="">
          <a href="{% url 'detail' pet.id %}" style="color: black">
          <div class="card-content">
            <span class="card-title"></span>
            <p><span style="font-size: 20px">{{pet.name}}</span>, a {{pet.common_name}}
            {% if pet.age > 0 %}
            who is {{pet.age}} years old
            {% else %}
            who just made it out into the world!</p>
            {% endif %}
          </div></a>
      </div>
    </div>
    {% endfor %}
  </div>
</ul>
{% endblock %}