body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin: 0 50px;
  max-width: 1000px;
}

.page-footer {
  padding-top: 10px;
  text-align: center;
  height: 40px;
}

th > label {
  font-size: 1.3em;
}

#id_username, #id_password, #id_password1, #id_password2 {
  border-bottom: 2px solid green;
  /* justify-content: center; */
  text-align: center;
}

p > label {
  font-size: 25px;
  color: rgb(41, 39, 39);
}

h1 {
  color: rgb(41, 39, 39);
}

.login {
  /* max-height: 1000px; */
  border: 2px solid green;
  width: 550px;
  height: 700px;
  padding: 40px 40px 70px 40px;
}

.login h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.login form p label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form p span, .login form ul li {
  display: none;
  text-align: center;
}

.home-img {
  width: 100%;
  text-align: justify;
}

.pet-name {
  font-size: 24px;
}

.beginning {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  height: 90vh;
}

label[for=id_password], label[for=id_username] {
  margin-top: 40px;
}

.card {
  margin: 5px 0;
}

.card .card-action {
  padding-bottom: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin: 0 auto;
}

td textarea {
  border: none;
  color: none;
}

input:not([type]), input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
  border-bottom: none;
}

.login .btn-large {
  font-size: 20px;
}

.search {
  text-align: center;
}

.search > form > input {
  border: 1px solid green; 
  width: 50%; min-width: 350px; 
  text-align: center; 
  height:35px; 
  align-items: center;
}

h3 {
  padding: 15px 0;
}